if SHIELD_AKINA_CORNE_LEFT || SHIELD_AKINA_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Akina Corne"

config ZMK_SPLIT
    default y

if SHIELD_AKINA_CORNE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_AKINA_CORNE_LEFT

endif # SHIELD_AKINA_CORNE_LEFT || SHIELD_AKINA_CORNE_RIGHT
