/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        holdTap: holdTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
        };

        doubleTapA: doubleTapA {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAPA";
            #binding-cells = <0>;
            bindings = <&holdTap LEFT_SHIFT A>, <&kp LS(A)>;
        };

        doubleTapCedilha: doubleTapCedilha {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAPCEDILHA";
            #binding-cells = <0>;
            bindings = <&holdTap LEFT_SHIFT SEMI>, <&kp LS(SEMI)>;
        };

        holdTap2: holdTap2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };
    };

    macros {
        altTab: altTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "ALTTAB";
        };
    };

    combos {
        compatible = "zmk,combos";

        teste {
            bindings = <&to 0>;
            key-positions = <36 39>;
        };

        teste2 {
            bindings = <&to 0>;
            key-positions = <0 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ---------------------------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | MENU  |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | CTRL  |  Z  |  X  |  C   |  V   |  B   |                   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | LOWER| SPACE |                   | ENTER| RAISE | BKSPC |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y            &kp U   &kp I    &kp O      &kp P                    &kp K_CMENU
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H            &kp J   &kp K    &kp L      &kp SEMI                 &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N            &kp M   &kp DOT  &kp RA(Q)  &holdTap QUESTION SLASH  &kp RSHFT
                              &kp LEFT_ALT  &mo 3  &kp SPACE    &kp ENTER        &lt 1 BACKSPACE  &mo 2
            >;
        };

        moves {
            display-name = "raise";

            // ---------------------------------------------------------------------------------------------------------
            // |       |     | INS  | HOME  |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       |     |      |       |       | END  |                | PGDN |  <-  |   v   |  ->  |       |       |
            // |       |     |      |       |       |      |                |      |  ?   |   ,   | RA(W)|       |       |
            //                      |       |       |      |                |      |      |       |

            bindings = <
&trans  &trans  &kp INSERT  &kp HOME  &trans  &trans    &kp PG_UP  &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans      &trans    &trans  &kp END   &kp PG_DN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans      &trans    &trans  &trans    &trans     &kp QUESTION    &kp COMMA       &kp RA(W)        &trans  &trans
                            &trans    &trans  &trans    &trans     &trans          &trans
            >;
        };

        number {
            bindings = <
&trans  &trans  &kp F9  &kp F10  &kp F11  &kp F12    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &kp F5  &kp F6   &kp F7   &kp F8     &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &kp F1  &kp F2   &kp F3   &kp F4     &kp N0  &kp N1  &kp N2  &kp N3  &trans  &trans
                         &trans  &trans   &trans      &trans  &trans  &trans
            >;
        };

        Simbols {
            display-name = "lower";
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1   &trans        &trans     &trans        &trans    &trans    &kp SEMI         &trans            &trans  &trans
&kp GRAVE       &kp EXCL      &kp MINUS      &kp PLUS      &kp EQUAL  &kp PRCNT     &kp RBKT  &kp LPAR  &kp RIGHT_BRACE  &kp LESS_THAN     &trans  &trans
&trans          &kp PERCENT   &kp AMPERSAND  &kp ASTERISK  &kp HASH   &kp AT        &kp BSLH  &kp RPAR  &kp PIPE         &kp GREATER_THAN  &trans  &trans
                               &trans         &trans        &trans     &trans        &trans    &trans
            >;
        };
    };
};
